---
import ThemeToggleButton from "./ThemeToggleButton";

type Props = {
	editHref: string;
};

const { editHref } = Astro.props;
const showMoreSection = Boolean(editHref);
---

<h2 class="heading">More</h2>
<ul>
	{
		(
			<li class={`header-link depth-2`}>
				Find a typo, bug or want to contribute? File an issue on
				<em>
					<a
						href="https://github.com/HackMort/jdk-workflow/issues"
						target="_blank"
						style="color: var(--theme-text-accent); text-decoration: underline;"
					>
						GitHub
					</a>
				</em>
			</li>
		)
	}
</ul>
<div style="margin: 2rem 0;">
	<ThemeToggleButton client:visible />
</div>

<style>
	.edit-on-github {
		text-decoration: none;
		font: inherit;
		color: inherit;
		font-size: 1rem;
	}
</style>
