---
import AvatarList from "./AvatarList.astro";
type Props = {
	path: string;
};
const { path } = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer>
	<!-- <AvatarList path={path} /> -->
	© {currentYear} - JDK Outstanding Technologies. All rights reserved.
	<div class="note">
		This website is a work in progress. If you find any issues or have any
		suggestions, please let us know by creating an issue on <em
			><a href="https://github.com/HackMort/jdk-workflow/issues" target="_blank"
				>GitHub</a
			></em
		>
	</div>
</footer>

<style>
	footer {
		font-size: small;
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
		text-align: center;
	}
</style>
